.bar {
 transition: top .5s;
}
.bar__label, .label {
 display: inline-block;
 font-family: sans-serif;
 font-size: 10px;
 line-height: 20px;
 text-transform: uppercase;
 vertical-align: top;
}
.bar__label {
 text-align: right;
 width: 50px;
}

.bar__mark {
 background: orange;
 display: inline-block;
 height: 16px;
 margin-left: 10px;
 margin-top: 2px;
 transition: width 1s;
}
